
<form class="row g-3" method="post" asp-controller="User" asp-action="AddUser">
    <div class="col-6">
        <label class="form-label">İsim:</label>
        <input type="text" name="Name" class="form-control" id="inputAddress" placeholder="İsminizi Girin...">
    </div>
    <div class="col-6">
        <label for="inputAddress" class="form-label">Soyisim:</label>
        <input type="text" name="Surname" class="form-control" id="inputAddress" placeholder="Soyisminizi Girin...">
    </div>
  <div class="col-6">
    <label for="inputPassword4" class="form-label">Şifre:</label>
        <input name="Password" type="password" class="form-control" id="inputPassword4">
  </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email:</label>
        <input type="email" name="Mail" class="form-control" id="inputEmail4">
    </div>
  </div>
  <div class="col-md-12">
    <button type="submit" class="btn btn-primary">Kaydet</button>
  </div>
</form>