@model IEnumerable<RepositoryDesingScript.Models.User>

<table class="table table-bordered">
	<tr>
		<th>Adı</th>
		<th>Soyad</th>
		<th>Mail</th>
	</tr>
	@foreach(var item in Model)
	{
		<tr>
			<td>@item.Name</td>
			<td>@item.Surname</td>
			<td>@item.Mail</td>
		</tr>
		
	}
</table>